@import "global";
@import "header";

#block-1 {
	.wrapper {
		width: fit-content;
		margin-top: 17vh;
		margin-left: 23.6vw;

		img {
			margin-bottom: 3.76vh;
		}

		p {
			padding-bottom: 5.88vh;
			font-style: normal;
			font-weight: 350;
			font-size: 2.82vh;
			line-height: 120%;
			color: #D9D9D9;
			text-align: center;
			letter-spacing: -.02em;
		}

		.buttons {
			display: flex;
			justify-content: center;
			column-gap: 8px;

			.btn-white {
				padding: 2vh 3.6vw 1.8vh;
			}

			.btn-transparent {
				padding: 2vh 3.2vw 1.8vh;
			}
		}
	}
}

#block-2 {
	padding-top: 7.53vh;
	padding-left: 5.55vw;

	.small-sign {
		display: flex;
		align-items: center;
		column-gap: 1.11vh;

		hr {
			width: 1px;
			height: 2.12vh;
			border: none;
			background-color: #FFFFFF;
		}

		span {
			font-style: normal;
			font-weight: 350;
			font-size: 1.88vh;
			color: #FFFFFF;
			letter-spacing: -.02em;
		}
	}

	h1 {
		width: fit-content;
		padding-top: 3.76vh;
		font-style: normal;
		font-weight: 350;
		font-size: 7.53vh;
		line-height: 100%;
		letter-spacing: -.02em;
		color: #FFFFFF;
		text-align: left;
	}

	p {
		width: fit-content;
		padding-left: 20.14vw;
		font-style: normal;
		font-weight: 350;
		font-size: 2.82vh;
		line-height: 120%;
		letter-spacing: .02em;
		color: #D9D9D9;
		text-align: left;
	}

	.point {
		position: absolute;
		top: 74vh;
		right: 31vw;
		display: flex;
		align-items: center;
		column-gap: 2.2vw;

		span {
			font-style: normal;
			font-weight: 350;
			font-size: 16px;
			letter-spacing: -.02em;
			color: #D9D9D9;
		}

		.line {
			display: flex;
			align-items: center;

			hr {
				width: 23.54vw;
				height: 1px;
				border: none;
				background-color: #FFFFFF;
			}

			.circle {
				width: 6px;
				height: 6px;
				border-radius: 10px;
				background: #FFFFFF;
			}
		}
	}
}

.block-3 {
	.wrapper {
		display: flex;
		justify-content: space-evenly;
		height: 100%;

		.left {
			width: 66.6%;

			.top, .bottom {
				height: 50%;
				padding: 5.88vh;
				border-radius: 32px;
				text-align: left;

				h1 {
					padding-bottom: 8px;
					font-style: normal;
					font-weight: 350;
					font-size: 48px;
					line-height: 120%;
					letter-spacing: .02em;
				}

				p {
					padding-bottom: 16px;
					font-style: normal;
					font-weight: 350;
					font-size: 24px;
					line-height: 120%;
					letter-spacing: -.02em;
				}
			}
		}
	
		img {
			border-radius: 32px;
		}
	}
}

#block-3-1 {
	.wrapper {
		.left {
			.top {
				background-color: #FEC6FF;
				color: #000000;
			}

			.bottom {
				background-color: #212122;
				color: #454546;
			}
		}
	}
}

#block-3-2 {
	.wrapper {
		.left {
			.top {
				background-color: #212122;
				color: #454546;
			}

			.bottom {
				background-color: #FEC6FF;
				color: #000000;
			}
		}
	}
}

.block-4 {
	.wrapper {
		padding-top: 7.53vh;
		padding-left: 5.55vw;

		.small-sign {
			display: flex;
			align-items: center;
			column-gap: 1.11vh;
	
			hr {
				width: 1px;
				height: 2.12vh;
				border: none;
				background-color: #FFFFFF;
			}
	
			span {
				font-style: normal;
				font-weight: 350;
				font-size: 1.88vh;
				color: #FFFFFF;
				letter-spacing: -.02em;
			}
		}

		.dots {
			display: flex;
			flex-direction: column;
			row-gap: 1.5vh;
			margin-top: 56vh;

			.dot {
				display: flex;
				align-items: center;
				column-gap: .33vw;

				.circle {
					width: 1vh;
					height: 1vh;
					border-radius: 10px;
					background: #D9D9D9;
					opacity: .4;

					&.active {
						background: #FFFFFF;
						opacity: 1;
					}
				}

				hr {
					width: 1.63vw;
					height: 1px;
					border: none;
					background-color: #FFFFFF;
				}

				span {
					font-style: normal;
					font-weight: 350;
					font-size: 1.65vh;
					letter-spacing: -.02em;
				}
			}
		}
	}
}