#mobile-menu {
	display: none;
}

.mobile {
	display: none;

	@media screen and (max-width: $mobile) {
		display: block;
	}

	.header-mobile {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 2.46vh 5.53vw;
		
		ul {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;

			li {
				display: inline;
				width: 33%;

				.btn {
					float: right;
				}

				#header-logo {
					display: block;
					margin: 0 auto;
				}
			}
		}
	}

	.block-1-mobile {
		height: 111vh;
		border-radius: 16px;
		background-color: #4A50DC;
		background-image: url("../img/block-1/image1.png"), url("../img/block-1/image2.png"), url("../img/block-1/wave-mobile.svg"), url("../img/block-1/ellipse-mobile.svg");
		background-position: -46.4vw 70vh, calc(100% + 60vw) calc(100% - 10vh), center 100%, -50vw 30vh;
		background-size: 38vh 38vh, 48.7vh 40.5vh, 114vw 22.5vw, 73vw 53.6vh;
		background-repeat: no-repeat;

		img {
			display: block;
			width: calc(100% - 8.6vw);
			margin: 0 auto;
			margin-bottom: 4.8vh;
			padding-top: 11.2vh;
		}

		p {
			padding-bottom: 9.6vh;
			color: #FFFFFF;
			font-weight: 350;
			font-size: 3.2vh;
			line-height: 120%;
			letter-spacing: -.02em;
			text-align: center;
		}

		.buttons {
			display: flex;
			justify-content: space-between;
			padding: 0 4.27vw;

			.btn {
				width: 44.5vw;
			}
			
		}
	}

	.block-2-mobile {
		height: 114vh;
		padding: 3.6vh 4.26vw;
		border-radius: 16px;
		background: linear-gradient(241.99deg, #48637F 0%, #465F7B 66.34%);

		h1 {
			padding-top: 3.7vh;
			padding-bottom: 2.6vh;
			font-style: normal;
			font-weight: 350;
			font-size: 5.9vh;
			line-height: 100%;
			letter-spacing: -.02em;
			color: #FFFFFF;
		}

		p {
			padding-bottom: 4.9vh;
			font-style: normal;
			font-weight: 350;
			font-size: 3vh;
			line-height: 120%;
			letter-spacing: -.02em;
			color: #D9D9D9;
		}

		img {
			display: block;
			width: 100%;
			margin: 0 auto;
		}
	}

	.block-3-mobile-text {
		padding: 3.6vh 4.26vw;
		border-radius: 16px;
		background-color: #FEC6FF;
		
		h1 {
			padding-bottom: 1.2vh;
			font-style: normal;
			font-weight: 350;
			font-size: 6vh;
			line-height: 120%;
			letter-spacing: -.02em;
			color: #000000;
		}

		p {
			padding-bottom: 2.4vh;
			font-style: normal;
			font-weight: 350;
			font-size: 3vh;
			line-height: 120%;
			letter-spacing: -.02em;
			color: #000000;
		}
	}

	.block-3-mobile-img {
		img {
			width: 100vw;
		}
	}

	.block-4-mobile {
		width: 100%;
		height: 90.70vh;
		border-radius: 16px;

		.swiper-wrapper {
			.swiper-slide {
				padding: 3.6vh 4.26vw;
				background-color: $bg-color;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;

				.dots-container {
					position: absolute;
					bottom: 4.8vh;
					width: calc(100% - 8.52vw);

					.dots {
						
						display: flex;
						flex-direction: column;
						row-gap: 2vh;
						width: fit-content;
						margin: 0 auto;
						transform: rotate(-90deg);
			
						.dot {
							display: flex;
							align-items: center;
							column-gap: .6vh;
			
							.circle {
								width: 1.2vh;
								height: 1.2vh;
								border-radius: 10px;
								background: #D9D9D9;
								opacity: .4;
			
								&.active {
									background: #FFFFFF;
									opacity: 1;
								}
							}
			
							hr {
								width: 3.5vh;
								height: 1px;
								border: none;
								background-color: #FFFFFF;
							}
			
							span {
								color: #FFFFFF;
								font-style: normal;
								font-weight: 350;
								font-size: 2.1vh;
								letter-spacing: -.02em;
							}
						}
					}
				}

				&:first-child {
					background-image: url("../img/block-4/m1.png");
				}

				&:nth-child(2) {
					background-image: url("../img/block-4/m2.png");
				}

				&:nth-child(3) {
					background-image: url("../img/block-4/m3.png");
				}

				&:nth-child(4) {
					background-image: url("../img/block-4/m4.png");
				}

				&:nth-child(5) {
					background-image: url("../img/block-4/m5.png");
				}

				&:nth-child(6) {
					background-image: url("../img/block-4/m6.png");
				}
			}
		}
	}

	.block-5-mobile {
		width: 100%;
		padding: 3.6vh 4.26vw 0;
		border-radius: 16px;
		background: #2A2A2D;

		background-image: url("../img/block-5/lines.svg"), url("../img/block-5/circle1.svg"), url("../img/block-5/circle2.svg");
		background-position: -106vw 33vh, calc(100% + 300vw) -66vh, 0 -15vh;
		background-size: 188vh 112vh, 235vh 235vh, 235vh 235vh;
		background-repeat: no-repeat;

		h1 {
			padding-top: 3.7vh;
			padding-bottom: 2.6vh;
			font-style: normal;
			font-weight: 350;
			font-size: 5.9vh;
			line-height: 100%;
			letter-spacing: -.02em;
			color: #FFFFFF;
		}

		p {
			padding-bottom: 4.9vh;
			font-style: normal;
			font-weight: 350;
			font-size: 3vh;
			line-height: 120%;
			letter-spacing: -.02em;
			color: #D9D9D9;
		}

		.blocks {
			display: flex;
			column-gap: 1.2vh;

			.block {
				display: flex;
				flex-direction: column;
				justify-content: center;
				width: 30vw;
				height: 30vw;
				padding: 2.4vh;
				border-radius: 16px;
				background: #34333C;
				
				.large {
					color: #959595;
					font-style: normal;
					font-weight: 350;
					font-size: 6.5vh;
					line-height: 120%;
					text-align: center;
					letter-spacing: -.02em;
				}

				.small {
					color: #959595;
					font-style: normal;
					font-weight: 350;
					font-size: 1.9vh;
					line-height: 120%;
					text-align: center;
					letter-spacing: -.02em;
					
				}
			}
		}

		img {
			display: block;
			object-fit: cover;
			object-position: 0 6.6vh;
			width: 100%;
			margin: 0 auto;
			margin-top: 9.6vh;
			filter: drop-shadow(10.7589px 35.3508px 58px #000000);
			
		}
	}

	.block-6-mobile {
		width: 100%;
		height: 181vh;
		padding: 3.6vh 4.26vw 0;
		border-radius: 16px;

		background-color: #242629;
		background-image: url("../img/block-6/circle.svg"), url("../img/block-6/level.svg"), url("../img/block-6/point.svg"), url("../img/block-6/cards.png");
		background-position: -220vw -34vh, -116vw 81vh, 55vw 21vh, -14vw 143vh;
		background-size: 235vh 235vh, 228vh 73vh, 30vh 30vh, 130vw 112vw;
		background-repeat: no-repeat;

		h1 {
			padding-top: 3.7vh;
			padding-bottom: 4.7vh;
			font-style: normal;
			font-weight: 350;
			font-size: 5.9vh;
			line-height: 100%;
			letter-spacing: -.02em;
			color: #FFFFFF;
		}
	}

	.block-email-mobile {
		padding: 3.6vh 4.26vw;
		border-radius: 16px;
		background: #FEC6FF;

		h1 {
			padding-bottom: 2.4vh;
			color: #000000;
			font-style: normal;
			font-weight: 350;
			font-size: 7.2vh;
			line-height: 100%;
			letter-spacing: -.02em;
		}

		h2 {
			padding-bottom: 4.8vh;
			color: #000000;
			font-style: normal;
			font-weight: 350;
			font-size: 20px;
			line-height: 120%;
			letter-spacing: -.02em;
		}

		form {
			display: flex;
			flex-direction: column;
			width: 91.4vw;

			input {
				margin-bottom: 1.2vh;
				padding: 3vh 4.26vw;
				border: none;
				border-radius: 12px;
				color: #242424;
				font-style: normal;
				font-weight: 400;
				font-size: 2vh;
				line-height: 120%;
				letter-spacing: -.02em;
				
				&:focus {
					outline: none;
				}
			}

			button {
				height: 8.5vh;
				margin-bottom: 2.4vh;
				border: none;
				border-radius: 12px;
				background: #000000;
				cursor: pointer;
			}
		}

		p {
			color: #000000;
			font-style: normal;
			font-weight: 350;
			font-size: 2.4vh;
			line-height: 120%;
			letter-spacing: -.02em;

		}
	}

	.block-copyright-mobile {
		padding: 3.6vh 0;
		text-align: center;

		.copy {
			padding-top: 2.4vh;
			color: #959595;
			font-style: normal;
			font-weight: 400;
			font-size: 2.4vh;
			line-height: 124%;
		}

		.policy {
			color: #959595;
			font-style: normal;
			font-weight: 700;
			font-size: 2.4vh;
			line-height: 124%;
			text-decoration: none;
		}
	}
}

